* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 800px;
  margin: 20px auto;
  background-color: aliceblue;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 5px;
  height: 40px;
  border-radius: 5px;
}

#slider-wrapper {
  height: 200px;
  width: 300px;
  margin: 0 20px;
  overflow: hidden;
}

.slider-line {
  display: flex;
  position: relative;
  left: 0;
}

.dots-wrapper {
  margin-top: 20px;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: grey;
  border: none;
  border-radius: 50%;
}

.active-dot {
  background-color: black;
}
